.containerr {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    background-color: white;
    margin-bottom:10px;
 
  }
  
  .background-imagee {
    /* border: solid 4px #FF4157 ; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://whatson.plus/birthday/birthdayBanner.gif"); /* Replace with the path to your background image */
    background-size: cover;
   /* Adjust the opacity as desired */
  }
  
  .contentt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  h2 {
    margin-top: 10px;
  }
  .image-roww {
    display: flex;
    justify-content: center;
    padding-top:30%;
  }
  .textwrap {
    margin-top: 25px;
  }
  
  .textwrap span {
    position: relative;
  }
  
  .textwrap span:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 100px;
    background: url('https://png.pngtree.com/svg/20170904/the_golden_crown_309708.png') 50% 0 / contain no-repeat;
  }
  
  
  .circle-imagee {
    display: block;
    width: 70px; /* Adjust the size of the circular image */
    height: 70px;
    border-radius: 50%;
    margin: 10px; /* Adjust the margin as needed */
  }
  @media (max-width:600px){
    .circle-imagee {
        display: block;
        width: 50px; /* Adjust the size of the circular image */
        height: 50px;
        border-radius: 50%;
        margin: 10px; /* Adjust the margin as needed */
      }
  
  .containerr {
    position: relative;
    width: 100%; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    background-color: white;
  }
  .image-roww {
    display: flex;
    justify-content: center;
    padding-top:25%;
  }
  .textwrap span:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 50px;
    background: url('https://png.pngtree.com/svg/20170904/the_golden_crown_309708.png') 50% 0 / contain no-repeat;
  }
  }